*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: rgb(170, 213, 219);
    font-family: 'Times New Roman', Times, serif;
}
.semua{
    width: 100vw;
    height: 100vh;
}
.atas{
    position: relative;
    height: 60px;
    width: 100vw;
    background-color: rgba(151, 151, 253, 0.712);
    box-shadow: 5px 5px 5px grey;
}
.atas h2{
    margin: 0px;
    display: inline-block;
    padding: 15px;
    letter-spacing: 2px;
}
.tb{
    position: absolute;
    left: 10px;
    top: 10px;
}
.tb span{
    display: block;
    width: 30px;
    height: 5px;
    background: #151719;
    margin: 5px 0px;
    cursor: pointer;
}
.nk{
    position: relative;
    float: right;
    margin-top: -57px;
}
#sidebar{
    position: absolute;
    display: block;
    height: 91vh;
    width: 17.5vw;
    background: cornflowerblue;
    box-shadow: 5px 5px 5px grey;
}
#sidebar.active{
    left: -20vw;
}
#sidebar .A{
    list-style-position: inside;
    font-size: 22px !important;
    padding: 10px 10px 0px 10px;
    margin-left: -5px;
    cursor: default;
}
#sidebar .B{
    margin-left: 0px;
    font-size: 20px;
    padding: 5px 5px 7px 30px;
    color: white;
    border-bottom: 1px solid whitesmoke;
    cursor: pointer;
}
#sidebar ol a{
    text-decoration: none;
    color: black;
}
.hidup {
    background-color: whitesmoke;
    color: black !important;
    cursor: default;
}
.hilang {
    display: none !important;
}
.judul{
    margin-left: 250px;
    padding: 10px 0px 3px 0px;
    background-color: rgb(170, 213, 219);
}
#judul.full{
    margin-left: 0px;
}
.judul h2{
    padding: 5px 15px 5px 15px;
    display: inline-block;
    text-align: center;
    font-size: 22px;
    border: 4px solid black;
    border-radius: 40px;
    letter-spacing: 2px;
}
.konten{
    overflow: auto;
    margin-left: 250px;
    background-color: white;
    width: 81vw;
    height: 510px;
    border: 1px solid black;
    border-radius: 10px;
}
#konten.full{
    width: 98vw;
    margin-left: 15px;
}
.tujuanP{
    margin-top: 10px;
    margin-left: 10px;
    display: inline-block;
    border: 2px solid rgb(1, 59, 78);
    background-color: lightblue;
    border-radius: 0px 10px 10px 0px;
    padding: 10px;
    cursor: pointer;
}
.tujuanP p{
    font-size: 21px;
}
.tujuan{
    width: auto;
    padding: 10px;
    margin-left: 10px;
    display: inline-block;
    border: 2px solid rgb(1, 59, 78);
    background-color: lightblue;
    border-radius: 0px 10px 10px 0px;
    box-sizing: border-box;
}
.tujuan li{
    line-height: 1.5;
    padding-left: 2px !important;
    margin-left: 20px;
    text-align: justify;
    padding: 0px;
    font-size: 20px;
}
hr{
    height: 5px;
    background-color: rgba(151, 151, 253, 0.712);
    border: none;
}
.konten h3{
    letter-spacing: 1px;
    font-size: 20px;
    margin-left: 10px;
    display: inline-block;
    border: 2px solid rgb(1, 59, 78);
    background-color: white;
    border-radius: 0px 10px 10px 0px;
    padding: 10px;
}
.konten .penjelasanku{
    padding: 10px;
    margin-left: 10px;
    margin-right: 10px;
    border: 2px solid rgb(1, 59, 78);
    border-radius: 0px 10px 10px 0px;
    background-color: white;
}
.konten .penjelasanku p{
    line-height: 1.8;
    text-align: justify;
    font-size: 20px;
}
.penjelasanku .faktor{
    text-align: justify;
    line-height: 1.8;
    font-size: 20px;
    margin-top: 5px;
    margin-left: 25px;
    margin-bottom: 15px;
}
.KK{
    width: 500px;
    height: 250px;
    margin-bottom: 5px;
}
.KK1{
    width: 500px;
    height: 250px;
    margin-top: 10px;
}
.G1{
    position: relative; 
    top: -15px; 
    font-size: 18px;
}
.G2{
    position: relative; 
    top: -5px; 
    font-size: 18px;
}
.G3{
    position: relative; 
    top: -5px; 
    font-size: 18px;
}
.Nav-Lanjut{
    text-align: center;
    position: relative;
    text-decoration: none;
    margin-top: 5px;
    margin-left: 250px;
}
#navigasi.full{
    margin-left: 0px;
}
.Nav-Lanjut a{
    text-decoration: none;
    color: black;
}
.Nav-Lanjut .Lanjut{
    display: inline-block;
    border: 2px solid rgb(1, 59, 78);
    padding: 5px;
    font-size: 15px;
    background-color: lightblue;
}
.Nav-Lanjut .Lanjut:hover {
    cursor: pointer;
    background-color: rgb(1, 59, 78);
}
.Nav-Lanjut .aktif_konten {
    background-color: rgb(1, 59, 78);
    cursor: default !important;
}
.Nav-Lanjut .disable {
    background-color: rgb(133, 133, 133) !important;
    color: rgb(37, 37, 37);
    cursor: default !important;
}

@media only screen and (max-width: 414px){

    .semua{
        width: 100vw;
        height: 100vh;
    }
    .atas{
        position: relative;
        height: 80px;
        width: 100vw;
        background-color: rgba(151, 151, 253, 0.712);
        box-shadow: 5px 5px 5px grey;
    }
    .atas h2{
        position: relative;
        margin-left: -12px;
        top: -55px;
        font-size: 20px;
        display: inline-block;
        padding: 15px;
        letter-spacing: 1px;
        width: 215px;
    }
    .tb{
        position: static;
        display: inline-block;
        margin-top: 20px;
        margin-left: 8px;
    }
    .tb span{
        display: block;
        width: 25px;
        height: 5px;
        background: #151719;
        margin: 5px 0px;
        cursor: pointer;
    }
    .nk{
        position: relative;
        float: right;
        margin-top: -124px;
    }
    #sidebar{
        left: -69vw;
        position: absolute;
        display: block;
        height: auto;
        width: 69vw;
        background: cornflowerblue;
        box-shadow: 5px 5px 5px grey;
    }
    .active{
        left: 0vw !important;
    }
    #sidebar .A{
        list-style-position: inside;
        font-size: 20px !important;
        padding: 10px 10px 3px 10px;
        margin-left: -5px;
        cursor: default;
    }
    #sidebar .B{
        margin-left: 0px;
        font-size: 18px;
        padding: 5px 5px 5px 30px;
        color: white;
        border-bottom: 1px solid whitesmoke;
        cursor: pointer;
    }
    .judul{
        margin-left: 0px;
        padding: 10px 0px 3px 0px;
        background-color: rgb(170, 213, 219);
    }
    .judul h2{
        padding: 5px 15px 5px 15px;
        display: inline-block;
        text-align: center;
        font-size: 20px;
        border: 3px solid black;
        border-radius: 40px;
        letter-spacing: 2px;
    }
    .konten{
        overflow: auto;
        margin-left: 0px;
        background-color: white;
        width: 99vw;
        height: auto;
        border: 1px solid black;
        border-radius: 10px;
    }
    #konten.full{
        width: 99vw;
        margin-left: 0px;
    }
    .tujuanP{
        margin-top: 10px;
        margin-left: 5px;
        display: inline-block;
        border: 2px solid rgb(1, 59, 78);
        background-color: lightblue;
        border-radius: 0px 10px 10px 0px;
        padding: 5px;
        cursor: pointer;
    }
    .tujuanP p{
        font-size: 20px;
    }
    .tujuan{
        width: 96vw;
        padding: 5px;
        margin-left: 5px;
        display: inline-block;
        border: 2px solid rgb(1, 59, 78);
        background-color: lightblue;
        border-radius: 0px 10px 10px 0px;
        box-sizing: border-box;
    }
    .tujuan li{
        line-height: 1.5;
        padding-left: 2px !important;
        margin-left: 20px;
        text-align: justify;
        padding: 0px;
        font-size: 18px;
    }
    .konten h3{
        line-height: 1.5;
        font-size: 18px;
        margin-left: 3px;
        text-align: justify;
        display: inline-block;
        border: 2px solid rgb(1, 59, 78);
        background-color: white;
        border-radius: 0px 10px 10px 0px;
        padding: 5px;
    }
    .konten .penjelasanku{
        width: 90vw;
        padding: 10px;
        margin-left: 3px;
        margin-right: 10px;
        border: 2px solid rgb(1, 59, 78);
        border-radius: 0px 10px 10px 0px;
        background-color: white;
    }
    .konten .penjelasanku p{
        line-height: 1.5;
        text-align: justify;
        font-size: 18px;
    }
    .konten .penjelasanku ol{
        margin-top: 5px;
        margin-bottom: 5px;
        margin-left: 20px;
        font-size: 18px;
        line-height: 1.5;
        text-align: justify;
    }
    .penjelasanku li{
        margin-top: 10px;
    }
    .KK{
        margin-top: 15px;
        margin-left: -26px;
        width: 300px;
        height: 200px;
    }
    .KK1{
        margin-top: 15px;
        margin-left: -26px;
        width: 300px;
        height: 200px;
    }
    .G1{
        position: relative; 
        top: -15px; 
        font-size: 15px;
    }
    .G2{
        position: relative; 
        top: -5px; 
        font-size: 15px;
    }
    .G3{
        position: relative; 
        top: -5px; 
        font-size: 15px;
    }
    .Nav-Lanjut{
        text-align: center;
        position: relative;
        text-decoration: none;
        margin-top: 5px;
        margin-left: 0px;
    }
    .Nav-Lanjut .Lanjut{
        display: inline-block;
        border: 2px solid rgb(1, 59, 78);
        padding: 3px;
        font-size: 15px;
        background-color: lightblue;
    }
    .Nav-Lanjut .aktif_konten {
        background-color: rgb(1, 59, 78);
        cursor: default !important;
    }
    .Nav-Lanjut .disable {
        background-color: rgb(133, 133, 133) !important;
        color: rgb(37, 37, 37);
        cursor: default !important;
    }
}